@use '../base/variables' as *;
@use '../base/mixins' as *;

button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn {
  @include btn-base;
}

.btn:active:not(.disabled_btn) {
  @include btn-active;
}

.extra_small_btn {
  width: $btn-width-xs;
}

.small_btn {
  width: $btn-width-sm;
}

.middle_btn {
  width: $btn-width-md;
}

.large_btn {
  width: $btn-width-lg;
}

.normal_btn {
  @include btn-normal;
}

.green_btn {
  @include btn-green;
}

.red_btn {
  @include btn-red;
}

.disabled_btn {
  @include btn-disabled;
}

.button_img {
  width: $icon-width-sm;

  &.left {
    margin-right: $spacing-xs;
  }

  &.right {
    margin-left: $spacing-xs;
  }
}

.link_img,
.link_img_black {
  height: $icon-width-sm;
  margin-bottom: -1.5px;
  padding-right: $spacing-sm;
  width: $icon-width-sm;
}

// 基于内容宽度的按钮
.auto_width_btn {
  width: auto;
  min-width: $btn-width-xs;
  padding-left: $spacing-lg;
  padding-right: $spacing-lg;
}

.btn_group {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn_with_tooltip_cont {
  display: inline-block;
  position: relative;
}

.btn_tooltip {
  background-color: $color-border-dark;
  color: $color-text-primary;
  opacity: 0;
  padding: $spacing-sm;
  position: absolute;
  right: $spacing-xl;
  text-align: center;
  top: -30px;
  transition: opacity $transition-normal;
  visibility: hidden;
  z-index: 1;
}

.btn_with_tooltip_cont:hover .btn_tooltip {
  opacity: 1;
  visibility: visible;
}

.tip_icon {
  height: $icon-width-md;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
