@use '../base/variables' as *;
@use '../base/mixins' as *;

custom-dropdown {
  cursor: pointer;
  display: block;
  font-size: $font-size-sm;
  margin: $spacing-sm;
  position: relative;
  width: calc(100% - 12px);
}

custom-dropdown .disabled_dropdown {
  cursor: not-allowed;
}

.dropdown_label {
  align-items: center;
  background-color: $color-btn-normal;
  border: $border-width-sm solid $color-border-dark;
  box-shadow: $btn-shadow-normal;
  box-sizing: border-box;
  color: $color-text-dark;
  display: flex;
  font-size: $font-size-sm;
  height: $btn-height;
  padding: 0 $spacing-xl;
  position: relative;
}

.dropdown_label.disabled_dropdown {
  background-color: $color-btn-disabled;
  border: $border-width-sm solid $color-btn-disabled-border;
  box-shadow: inset 0 -4px $color-border-accent;
  color: $color-background;
  cursor: not-allowed;
}

.dropdown_arrow {
  height: 14px;
  pointer-events: none;
  position: absolute;
  right: $spacing-xl;
  width: 14px;
}

.disabled_dropdown_arrow {
  filter: invert(100%) grayscale(100%) brightness(50%);
  pointer-events: none;
}

.dropdown_options {
  background-color: $color-btn-normal;
  border: $border-width-sm solid $color-border-dark;
  box-shadow: $btn-shadow-normal;
  box-sizing: border-box;
  display: none;
  font-size: $font-size-sm;
  max-height: 200px;
  overflow-y: auto;
  padding: $spacing-sm 0;
  position: absolute;
  top: $btn-height + $spacing-sm - 2px;
  width: 100%;
  z-index: 10;
}

.dropdown_option {
  align-items: center;
  color: $color-text-dark;
  display: flex;
  justify-content: space-between;
  padding: $spacing-sm $spacing-xl;

  &:hover {
    background-color: $color-btn-normal-hover;
  }
}

.dropdown_checkmark {
  height: 14px;
  width: 14px;
}

.dropdown_container {
  margin: $spacing-sm;
  position: relative;
}
