@use '../base/variables' as *;
@use '../base/mixins' as *;

.loading_mask {
  align-items: center;
  background-color: $color-background;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: opacity $transition-slow;
  width: 100vw;
  z-index: 999;
}

.spinner {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#spinner_img {
  height: 60px;
  width: 60px;
}

.spinner_text {
  color: $color-text-primary;
  font-size: $font-size-4xl;
}

#spinner_img_error {
  height: 160px;
  padding: $spacing-lg 0;
}

.spinner_text_error {
  color: $color-btn-red-hover;
  font-size: $font-size-2xl;
  font-weight: bold;
  padding: $spacing-lg 0;
  paint-order: stroke;
  -webkit-text-stroke: 0.05em $color-border-white;
}
