@use '../base/variables' as *;
@use '../base/mixins' as *;

.slider_content {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  margin: 14px 0;
  width: 100%;
}

.slider {
  background-color: $color-border-accent;
  border: $border-width-sm solid $color-border-dark;
  box-shadow: inset 2px 2px $color-shadow-light, inset -2px -2px $color-shadow-subtle;
  cursor: pointer;
  height: 8px;
  margin: $spacing-sm;
  position: relative;
  width: 100%;
}

.slider_process {
  background-color: $color-btn-green;
  bottom: 0;
  box-shadow: inset 2px 2px $color-shadow-light, inset -2px -2px $color-shadow-subtle;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  transition: width 100ms linear;
}

.slider_slider {
  background-color: $color-btn-normal;
  border: $border-width-sm solid $color-border-dark;
  box-shadow: $btn-shadow-normal;
  height: 28px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 100ms linear;
  width: 28px;
  z-index: 1;

  &:hover,
  &:active,
  .slider_content:hover &,
  &.active {
    background-color: $color-btn-normal-hover;
    box-shadow: $btn-shadow-hover;
  }
}

.slider_segment {
  background-color: $color-border-dark;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
}

.slider_value_info {
  cursor: default;
}

.disabled_slider {
  cursor: not-allowed;

  &.slider {
    background-color: #CFD0D4;
    border: $border-width-sm solid $color-btn-disabled-border;
  }

  .slider_segment {
    background-color: $color-btn-disabled-border;
  }

  .slider_process {
    background-color: #CFD0D4;
    box-shadow: inset 2px 2px $color-shadow-subtle, inset -2px -2px $color-shadow-subtle-light;
  }

  .slider_slider {
    background-color: #CFD0D4;
    border: $border-width-sm solid $color-btn-disabled-border;
    box-shadow: inset 0 -4px #B0B1B5, inset 2px 2px $color-shadow-subtle, inset -2px -6px $color-shadow-subtle-light;

    &:hover,
    &:active,
    .slider_content:hover &,
    &.active {
      background-color: #CFD0D4;
      border: $border-width-sm solid $color-btn-disabled-border;
      box-shadow: inset 0 -4px #B0B1B5, inset 2px 2px $color-shadow-subtle, inset -2px -6px $color-shadow-subtle-light;
    }
  }
}
