@use 'variables' as *;

// Button base
@mixin btn-base {
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: $font-family-primary;
  height: $btn-height;
  justify-self: center;
  margin: $spacing-sm;
}

@mixin btn-active {
  height: $btn-height-active;
  margin-top: 10px;
  padding-bottom: $spacing-sm;
}

@mixin btn-normal {
  background-color: $color-btn-normal;
  border: $border-width-sm solid $color-border-dark;
  box-shadow: $btn-shadow-normal;
  color: $color-text-dark;
  padding-bottom: $spacing-sm;

  &:hover {
    background-color: $color-btn-normal-hover;
    box-shadow: $btn-shadow-hover;
  }

  &:active {
    background-color: $color-btn-normal-hover;
    box-shadow: $btn-shadow-active;
  }
}

@mixin btn-green {
  background-color: $color-btn-green;
  border: $border-width-sm solid $color-border-dark;
  box-shadow: $btn-shadow-green;
  color: $color-text-primary;
  padding-bottom: $spacing-sm;

  &:hover {
    background-color: $color-btn-green-hover;
    box-shadow: $btn-shadow-green-hover;
  }

  &:active {
    background-color: $color-btn-green-active;
    box-shadow: $btn-shadow-green-active;
  }
}

@mixin btn-red {
  background-color: $color-btn-red;
  border: $border-width-sm solid $color-border-dark;
  box-shadow: $btn-shadow-red;
  color: $color-text-primary;
  padding-bottom: $spacing-sm;

  &:hover {
    background-color: $color-btn-red-hover;
    box-shadow: $btn-shadow-red-hover;
  }

  &:active {
    background-color: $color-btn-red-active;
    box-shadow: $btn-shadow-red-active;
  }
}

@mixin btn-disabled {
  background-color: $color-btn-disabled;
  border: $border-width-sm solid $color-btn-disabled-border;
  box-shadow: inset 0 -4px $color-border-accent;
  color: $color-background;
  cursor: not-allowed;
  padding-bottom: $spacing-sm;

  img {
    filter: invert(100%) grayscale(100%) brightness(50%);
  }
}

@mixin btn-size($size) {
  @if $size == 'extra-small' {
    width: $btn-width-xs;
  } @else if $size == 'small' {
    width: $btn-width-sm;
  } @else if $size == 'middle' {
    width: $btn-width-md;
  } @else if $size == 'large' {
    width: $btn-width-lg;
  }
}

@mixin for-large-screen {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin minecraft-title {
  font-family: $font-family-minecraft-ten;
  line-height: 1;
}

@mixin minecraft-subtitle {
  font-family: $font-family-minecraft-seven;
}

@mixin hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin overlay {
  background-color: rgba(0, 0, 0, $opacity-overlay);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

@mixin reduce-motion {
  @media (prefers-reduced-motion: reduce) {
    transition: none !important;
    animation: none !important;
  }
}
